/* General */

a {
    text-decoration: none;
}

/* Typography */

:root {
    --font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Lists */

.spaced-list {
  list-style: none;
}

.spaced-list-item {
  display: inline;
  padding: 0.2rem;
}

.stacked-list {
  list-style: none;
}

.stacked-list-item {
  padding: 0.2rem;
}
