/* General */

a {
    text-decoration: none;
}

/* Typography */

:root {
    --font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Navigation */
.nav {
    background-color: whitesmoke;
    width: fit-content;
}

.nav-list {
    text-decoration: none;
    list-style: none;
    display: flex;
    width: fit-content;
}

.nav-list-item {
    padding: 10px;
    cursor: pointer;
}

.nav-list-item:hover {
    background-color: grey;
}
