/* General */

a {
    text-decoration: none;
}

/* Typography */

:root {
    --font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Avatar */

.avatar {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.avatar-sm {
    width: 48px;
    height: 48px;
}

.avatar-md {
    width: 64px;
    height: 64px;
}

.avatar-lg {
    width: 80px;
    height: 80px;
}