@import url('./alert/alert.css');
@import url('./avatar/avatar.css');
@import url('./badge/badge.css');
@import url('./button/button.css');
@import url('./card/card.css');
@import url('./grid/grid.css');
@import url('./image/image.css');
@import url('./input/input.css');
@import url('./list/list.css');
@import url('./modal/modal.css');
@import url('./navigation/navigation.css');
@import url('./rating/rating.css');
@import url('./text/text.css');
@import url('./toast/toast.css');

/* General */

a {
    text-decoration: none;
}

/* Typography */

:root {
    --font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.hidden {
    visibility: hidden;
}

